In [1]:
import pandas as pd

In [2]:
results_path = '../files/1/2/output/results_speaker_000.h5'

In [3]:
audio = pd.read_hdf(results_path, key='audio')
video = pd.read_hdf(results_path, key='video')
texts = pd.read_hdf(results_path, key='text')

all = pd.read_hdf(results_path, key='all')

In [4]:
audio

       speaker        file                                     audio_emotions
0  speaker_000  part_00000  {'Neutral': 99.99573, 'Tension': 0.00238, 'Ple...
1  speaker_000  part_00001  {'Neutral': 99.96521, 'Tension': 0.02656, 'Ple...
2  speaker_000  part_00002  {'Neutral': 98.43364, 'Pleased': 1.5306, 'Tens...
3  speaker_000  part_00003  {'Neutral': 99.98154, 'Relaxed': 0.0124, 'Sad'...

In [5]:
video

       speaker        file                                     video_emotions
0  speaker_000  part_00000  {'image_00000': {'happy': 47.68815076219111, '...
1  speaker_000  part_00001  {'image_00000': {'happy': 40.59302684270346, '...
2  speaker_000  part_00002  {'image_00000': {'happy': 31.19185946047087, '...
3  speaker_000  part_00003  {'image_00000': {'neutral': 45.15804393621573,...

In [6]:
texts

,speaker,file,text,text_emotions
0,speaker_000,part_00000,"Alors moi, je vivais à Montréal. Donc on était...","{'nostalgia': 99.1863, 'despair': 0.04468, 'sa..."
1,speaker_000,part_00001,C'est vrai que j'avais senti qu'il fallait que...,"{'trust': 4.79831, 'approval': 4.15277, 'desir..."
2,speaker_000,part_00002,"Oui, moi aussi, j'aime le petit chien.","{'approval': 99.98901, 'amusement': 95.2659, '..."
3,speaker_000,part_00003,"Ouais, 14%, ça m'a l'air faible.","{'doubt': 82.23456, 'disapproval': 40.31719, '..."

In [7]:
all

,speaker,file,text,text_emotions,video_emotions,audio_emotions
0,speaker_000,part_00000,"Alors moi, je vivais à Montréal. Donc on était...","{'nostalgia': 99.1863, 'despair': 0.04468, 'sa...","{'image_00000': {'happy': 47.68815076219111, '...","{'Neutral': 99.99573, 'Tension': 0.00238, 'Ple..."
1,speaker_000,part_00001,C'est vrai que j'avais senti qu'il fallait que...,"{'trust': 4.79831, 'approval': 4.15277, 'desir...","{'image_00000': {'happy': 40.59302684270346, '...","{'Neutral': 99.96521, 'Tension': 0.02656, 'Ple..."
2,speaker_000,part_00002,"Oui, moi aussi, j'aime le petit chien.","{'approval': 99.98901, 'amusement': 95.2659, '...","{'image_00000': {'happy': 31.19185946047087, '...","{'Neutral': 98.43364, 'Pleased': 1.5306, 'Tens..."
3,speaker_000,part_00003,"Ouais, 14%, ça m'a l'air faible.","{'doubt': 82.23456, 'disapproval': 40.31719, '...","{'image_00000': {'neutral': 45.15804393621573,...","{'Neutral': 99.98154, 'Relaxed': 0.0124, 'Sad'..."